<section class="category flex gap-2 my-2">
  <h4 class="font-semibold text-xl"><%= category.name %></h4>
  <%= link_to t('.edit'), edit_category_path(category.id), class: "bg-main-color px-2 py-1 text-white rounded-xl" %>
  <%= link_to t('.delete'), category_path(category.id), data: {
    turbo_method: :delete,
    turbo_confirm: t('common.confirm')
  }, class: "bg-main-color px-2 py-1 text-white rounded-xl" %>
</section>
