<section class="flex flex-col">
  <h2 class="text-3xl font-bold mb-4 mt-"><%= t('.title') %></h2>

  <%= render "form" %>

  <%= link_to t('common.back'), categories_path, class: "bg-main-color text-white px-2 py-2 rounded-2xl mt-4 max-w-28" %>
</section>
