<div id="<%= "favorite-#{product.id}" %>">
  <% if product.favorite %>
    <%= link_to "dislike", favorite_path(product.id), data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to "like", favorites_path(product_id: product.id), data: { turbo_method: :post } %>
  <% end %>  
</div>
